.upload-image-control {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
}
[image-resource] {
    position: relative;
}
[contenteditable!="false"]:hover {
    text-shadow: 0 0 10px #CCC;
    -moz-text-shadow: 0 0 10px #CCC;
    -webkit-text-shadow: 0 0 10px #CCC;
}

/*.upload-image-control:hover .upload-image-container{
    display: block;
}*/

.mask-button {
    padding: 5px 10px;
    background: rgba(99, 187, 216, 1);
    font-weight: bold;
    border: 1px solid #72ACBF;
    float: right;
    margin: 5px;
    border-radius: 30px;
}
.upload-image-container {
    /*display: none;*/
    position: absolute;
    /*border: 2px dashed #ccc;*/
    top: 0;
    /*left: 0;*/
    right: 0;
    text-align: center;
    /*background: rgba(189, 184, 88, 0.13);*/
    /*bottom: 0;*/
    color: white;
}
[contenteditable] {
    outline: none;
}
.upload-image-container button {
    box-shadow: 0 0 5px 0px #4BD2FF;
    -webkit-box-shadow: 0 0 5px 0px #4BD2FF;
    -moz-box-shadow: 0 0 5px 0px #4BD2FF;
}
.btn-logout {
    padding: 10px;
    background: #ccc;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 99999;
}
.input-login {
    padding: 5px;
    font-size: 20px;
}
.btn-login {
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 0px;
    height: 37px;
    /*width: 65px;*/
    float: right;
    font-size: 15px;
}
.login-form .label {
    font-size: 20px;
    margin-bottom: 10px;
}
.login-form {
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
