<section class="camera_container">
    <div class="container">
<login-buttons></login-buttons>
                <!-- <h4>Login</h4>
              
                <form class="mailform off1 rd-mailform" name="loginForm" ng-controller="LoginCtrl"
      ng-submit="login(credentials)">
                    <fieldset>
                        

                        <div class="row row__off1">
                            <div class="grid_6">
                                <label class="mfInput">
                                    <input type="text" id="username" ng-model="credentials.username">
                                <span class="mfPlaceHolder default">Username</span></label>
                            </div>
                            <div class="grid_6">
                                <label class="mfInput">
                                    <input type="password" id="password" ng-model="credentials.password">
                                <span class="mfPlaceHolder default">Password</span></label>
                            </div>
                        </div>
                        

                        <div class="mfControls">
                            <button class="btn-primary mfProgress" type="submit"><span class="cnt">Login</span><span class="loader"></span><span class="msg"></span></button>

                        </div>
                    </fieldset>
                </form> -->
            </div>
</section>

